USE [master]
GO
/****** Object:  Database [AnketData]    Script Date: 24.08.2023 16:53:14 ******/
CREATE DATABASE [AnketData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnketData', FILENAME = N'C:\Staj\Anket\Data\AnketData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnketData_log', FILENAME = N'C:\Staj\Anket\Data\AnketData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnketData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnketData]
GO
/****** Object:  Table [dbo].[anket]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anket](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[kayit_tarih] [datetime] NOT NULL,
	[duzenleyen] [nvarchar](255) NOT NULL,
	[anket_ad] [nvarchar](255) NOT NULL,
	[baslama] [date] NOT NULL,
	[bitis] [date] NOT NULL,
	[konu] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_anket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[anket_profil]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[anket_profil](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anket_id] [bigint] NOT NULL,
	[profil_id] [int] NOT NULL,
 CONSTRAINT [PK_anket_profil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[katilimci]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[katilimci](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anket_id] [bigint] NOT NULL,
	[katilimci_no] [int] NOT NULL,
	[tarih] [date] NOT NULL,
	[yer] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_katilimci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profil]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profil](
	[id] [int] NOT NULL,
	[profil_no] [int] NOT NULL,
	[profil_ad] [nvarchar](50) NOT NULL,
	[soru_tip_id] [int] NOT NULL,
 CONSTRAINT [PK_profil] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profil_cevap]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profil_cevap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anket_id] [bigint] NOT NULL,
	[katilimci_id] [bigint] NOT NULL,
	[profil_id] [int] NOT NULL,
	[cevap] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_profil_cevap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profil_secenek]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profil_secenek](
	[id] [int] NOT NULL,
	[profil_id] [int] NOT NULL,
	[secenek_no] [int] NOT NULL,
	[secenek] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_profil_secenek] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soru]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soru](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anket_id] [bigint] NOT NULL,
	[soru_no] [int] NOT NULL,
	[soru_tip_id] [int] NOT NULL,
	[soru_metin] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_soru] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soru_cevap]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soru_cevap](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[anket_id] [bigint] NOT NULL,
	[katilimci_id] [bigint] NOT NULL,
	[soru_id] [bigint] NOT NULL,
	[cevap] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_soru_cevap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soru_secenek]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soru_secenek](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[soru_id] [bigint] NOT NULL,
	[secenek_no] [int] NOT NULL,
	[secenek] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_soru_secenek] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[soru_tip]    Script Date: 24.08.2023 16:53:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[soru_tip](
	[id] [int] NOT NULL,
	[tip_ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_soru_tip] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[anket] ON 

INSERT [dbo].[anket] ([id], [kayit_tarih], [duzenleyen], [anket_ad], [baslama], [bitis], [konu]) VALUES (1, CAST(N'2023-08-01T08:30:00.000' AS DateTime), N'TAV', N'Son vergileri HALK nasıl karşılıyor?', CAST(N'2023-08-07' AS Date), CAST(N'2023-08-13' AS Date), N'Ekonomi')
INSERT [dbo].[anket] ([id], [kayit_tarih], [duzenleyen], [anket_ad], [baslama], [bitis], [konu]) VALUES (2, CAST(N'2023-08-02T08:30:00.000' AS DateTime), N'İYİP', N'Yerel seçimlerde halkın eğilimi', CAST(N'2023-09-01' AS Date), CAST(N'2023-09-30' AS Date), N'Siyasi')
SET IDENTITY_INSERT [dbo].[anket] OFF
GO
SET IDENTITY_INSERT [dbo].[anket_profil] ON 

INSERT [dbo].[anket_profil] ([id], [anket_id], [profil_id]) VALUES (2, 1, 3)
INSERT [dbo].[anket_profil] ([id], [anket_id], [profil_id]) VALUES (3, 1, 4)
INSERT [dbo].[anket_profil] ([id], [anket_id], [profil_id]) VALUES (4, 1, 9)
SET IDENTITY_INSERT [dbo].[anket_profil] OFF
GO
SET IDENTITY_INSERT [dbo].[katilimci] ON 

INSERT [dbo].[katilimci] ([id], [anket_id], [katilimci_no], [tarih], [yer]) VALUES (2, 1, 1, CAST(N'2023-08-01' AS Date), N'ANKARA KIZILAY')
INSERT [dbo].[katilimci] ([id], [anket_id], [katilimci_no], [tarih], [yer]) VALUES (3, 1, 2, CAST(N'2023-08-02' AS Date), N'ANKARA ULUS')
INSERT [dbo].[katilimci] ([id], [anket_id], [katilimci_no], [tarih], [yer]) VALUES (4, 1, 3, CAST(N'2023-08-01' AS Date), N'ANKARA KIZILAY')
SET IDENTITY_INSERT [dbo].[katilimci] OFF
GO
INSERT [dbo].[profil] ([id], [profil_no], [profil_ad], [soru_tip_id]) VALUES (1, 1, N'Adı Soyadı', 4)
INSERT [dbo].[profil] ([id], [profil_no], [profil_ad], [soru_tip_id]) VALUES (2, 2, N'Cinsiyeti', 1)
INSERT [dbo].[profil] ([id], [profil_no], [profil_ad], [soru_tip_id]) VALUES (3, 3, N'Yaşı', 3)
GO
SET IDENTITY_INSERT [dbo].[profil_cevap] ON 

INSERT [dbo].[profil_cevap] ([id], [anket_id], [katilimci_id], [profil_id], [cevap]) VALUES (2, 1, 2, 2, N'1')
INSERT [dbo].[profil_cevap] ([id], [anket_id], [katilimci_id], [profil_id], [cevap]) VALUES (3, 1, 2, 3, N'35')
INSERT [dbo].[profil_cevap] ([id], [anket_id], [katilimci_id], [profil_id], [cevap]) VALUES (4, 1, 2, 4, N'5')
SET IDENTITY_INSERT [dbo].[profil_cevap] OFF
GO
INSERT [dbo].[profil_secenek] ([id], [profil_id], [secenek_no], [secenek]) VALUES (1, 2, 1, N'Kadın')
INSERT [dbo].[profil_secenek] ([id], [profil_id], [secenek_no], [secenek]) VALUES (2, 2, 2, N'Erkek')
INSERT [dbo].[profil_secenek] ([id], [profil_id], [secenek_no], [secenek]) VALUES (3, 4, 1, N'Cahil')
GO
SET IDENTITY_INSERT [dbo].[soru] ON 

INSERT [dbo].[soru] ([id], [anket_id], [soru_no], [soru_tip_id], [soru_metin]) VALUES (1, 1, 3, 1, N'Son seçimlerde hangi Cumhurbaşkanı adayına oy verdiniz?')
INSERT [dbo].[soru] ([id], [anket_id], [soru_no], [soru_tip_id], [soru_metin]) VALUES (2, 1, 1, 1, N'Son seçimlerde hangi partiye oy verdiniz?')
INSERT [dbo].[soru] ([id], [anket_id], [soru_no], [soru_tip_id], [soru_metin]) VALUES (7, 1, 2, 1, N'Seçimde verdiğiniz oydan pişman mısınız')
SET IDENTITY_INSERT [dbo].[soru] OFF
GO
SET IDENTITY_INSERT [dbo].[soru_cevap] ON 

INSERT [dbo].[soru_cevap] ([id], [anket_id], [katilimci_id], [soru_id], [cevap]) VALUES (1, 1, 2, 1, N'1')
INSERT [dbo].[soru_cevap] ([id], [anket_id], [katilimci_id], [soru_id], [cevap]) VALUES (3, 1, 2, 7, N'4')
INSERT [dbo].[soru_cevap] ([id], [anket_id], [katilimci_id], [soru_id], [cevap]) VALUES (6, 1, 3, 7, N'4')
SET IDENTITY_INSERT [dbo].[soru_cevap] OFF
GO
SET IDENTITY_INSERT [dbo].[soru_secenek] ON 

INSERT [dbo].[soru_secenek] ([id], [soru_id], [secenek_no], [secenek]) VALUES (1, 1, 1, N'Recep Tayyip Erdoğan')
INSERT [dbo].[soru_secenek] ([id], [soru_id], [secenek_no], [secenek]) VALUES (2, 1, 2, N'Kemal Kılıçdaroğlu')
INSERT [dbo].[soru_secenek] ([id], [soru_id], [secenek_no], [secenek]) VALUES (3, 1, 3, N'Muharrem İnce')
SET IDENTITY_INSERT [dbo].[soru_secenek] OFF
GO
INSERT [dbo].[soru_tip] ([id], [tip_ad]) VALUES (1, N'Tekli Seçim')
INSERT [dbo].[soru_tip] ([id], [tip_ad]) VALUES (2, N'Çoklu Seçim')
INSERT [dbo].[soru_tip] ([id], [tip_ad]) VALUES (3, N'Sayısal Değer')
GO
ALTER TABLE [dbo].[anket_profil]  WITH CHECK ADD  CONSTRAINT [FK_anket_profil_anket_id] FOREIGN KEY([anket_id])
REFERENCES [dbo].[anket] ([id])
GO
ALTER TABLE [dbo].[anket_profil] CHECK CONSTRAINT [FK_anket_profil_anket_id]
GO
ALTER TABLE [dbo].[anket_profil]  WITH CHECK ADD  CONSTRAINT [FK_anket_profil_profil_id] FOREIGN KEY([profil_id])
REFERENCES [dbo].[profil] ([id])
GO
ALTER TABLE [dbo].[anket_profil] CHECK CONSTRAINT [FK_anket_profil_profil_id]
GO
ALTER TABLE [dbo].[katilimci]  WITH CHECK ADD  CONSTRAINT [FK_katilimci_anket_id] FOREIGN KEY([anket_id])
REFERENCES [dbo].[anket] ([id])
GO
ALTER TABLE [dbo].[katilimci] CHECK CONSTRAINT [FK_katilimci_anket_id]
GO
ALTER TABLE [dbo].[profil]  WITH CHECK ADD  CONSTRAINT [FK_profil_soru_tip_id] FOREIGN KEY([soru_tip_id])
REFERENCES [dbo].[soru_tip] ([id])
GO
ALTER TABLE [dbo].[profil] CHECK CONSTRAINT [FK_profil_soru_tip_id]
GO
ALTER TABLE [dbo].[profil_cevap]  WITH CHECK ADD  CONSTRAINT [FK_profil_cevap_anket_id] FOREIGN KEY([anket_id])
REFERENCES [dbo].[anket] ([id])
GO
ALTER TABLE [dbo].[profil_cevap] CHECK CONSTRAINT [FK_profil_cevap_anket_id]
GO
ALTER TABLE [dbo].[profil_cevap]  WITH CHECK ADD  CONSTRAINT [FK_profil_cevap_katilimci_id] FOREIGN KEY([katilimci_id])
REFERENCES [dbo].[katilimci] ([id])
GO
ALTER TABLE [dbo].[profil_cevap] CHECK CONSTRAINT [FK_profil_cevap_katilimci_id]
GO
ALTER TABLE [dbo].[profil_cevap]  WITH CHECK ADD  CONSTRAINT [FK_profil_cevap_profil_id] FOREIGN KEY([profil_id])
REFERENCES [dbo].[profil] ([id])
GO
ALTER TABLE [dbo].[profil_cevap] CHECK CONSTRAINT [FK_profil_cevap_profil_id]
GO
ALTER TABLE [dbo].[profil_secenek]  WITH CHECK ADD  CONSTRAINT [FK_profil_secenek_profil_id] FOREIGN KEY([profil_id])
REFERENCES [dbo].[profil] ([id])
GO
ALTER TABLE [dbo].[profil_secenek] CHECK CONSTRAINT [FK_profil_secenek_profil_id]
GO
ALTER TABLE [dbo].[soru]  WITH CHECK ADD  CONSTRAINT [FK_soru_anket_id] FOREIGN KEY([anket_id])
REFERENCES [dbo].[anket] ([id])
GO
ALTER TABLE [dbo].[soru] CHECK CONSTRAINT [FK_soru_anket_id]
GO
ALTER TABLE [dbo].[soru]  WITH CHECK ADD  CONSTRAINT [FK_soru_soru_tip_id] FOREIGN KEY([soru_tip_id])
REFERENCES [dbo].[soru_tip] ([id])
GO
ALTER TABLE [dbo].[soru] CHECK CONSTRAINT [FK_soru_soru_tip_id]
GO
ALTER TABLE [dbo].[soru_cevap]  WITH CHECK ADD  CONSTRAINT [FK_soru_cevap_anket_id] FOREIGN KEY([anket_id])
REFERENCES [dbo].[anket] ([id])
GO
ALTER TABLE [dbo].[soru_cevap] CHECK CONSTRAINT [FK_soru_cevap_anket_id]
GO
ALTER TABLE [dbo].[soru_cevap]  WITH CHECK ADD  CONSTRAINT [FK_soru_cevap_katilimci_id] FOREIGN KEY([katilimci_id])
REFERENCES [dbo].[katilimci] ([id])
GO
ALTER TABLE [dbo].[soru_cevap] CHECK CONSTRAINT [FK_soru_cevap_katilimci_id]
GO
ALTER TABLE [dbo].[soru_cevap]  WITH CHECK ADD  CONSTRAINT [FK_soru_cevap_soru_id] FOREIGN KEY([soru_id])
REFERENCES [dbo].[soru] ([id])
GO
ALTER TABLE [dbo].[soru_cevap] CHECK CONSTRAINT [FK_soru_cevap_soru_id]
GO
ALTER TABLE [dbo].[soru_secenek]  WITH CHECK ADD  CONSTRAINT [FK_soru_secenek_soru_id] FOREIGN KEY([soru_id])
REFERENCES [dbo].[soru] ([id])
GO
ALTER TABLE [dbo].[soru_secenek] CHECK CONSTRAINT [FK_soru_secenek_soru_id]
GO
USE [master]
GO
